body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 36px;
}

.logo {
  max-width: 640px;
  height: auto;
  margin-bottom: 20px;
}