
@font-face {
  font-family: "GebetbuchFraktur";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/GebetbuchFraktur.woff2") format("woff2"),
       url("../assets/fonts/GebetbuchFraktur.woff") format("woff"),
       url("../assets/fonts/GebetbuchFraktur.ttf") format("truetype");
}

body {
  background-color: #000;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'GebetbuchFraktur';
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  margin-top: 20px;
}

h2, h3 {
    color: #E11313;
  font-family: 'GebetbuchFraktur';
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 3em;
}

hr {
  color: #333
}

.highlight {
  color: #E11313;
}

.strike {
  text-decoration: line-through;
}

.call-to-action {
  border: 4px solid;
  background-color: transparent;
  padding: 12px 24px;
  font-size: 1.5em;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.call-to-action.white {
  color: #fff;
  border-color: #fff;
}

.call-to-action.white:hover {
  background-color: #fff;
  color: #121212;
  border-color: #fff;
  text-decoration: none;
}

.call-to-action.black {
  color: #000;
  border-color: #000;
}

.call-to-action.black:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  text-decoration: none;
}

.call-to-action.red {
  color: #E11313;
  border-color: #E11313;
}

.call-to-action.red:hover {
  background-color: #E11313;
  color: #fff;
  border-color: #E11313;
  text-decoration: none;
}

.music-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
} 

.upcoming-shows-container {
  text-align: left;
}

.upcoming-shows-container h2, .upcoming-shows-container h3 {
  margin: 24px 0;
}

.upcoming-shows-container dl {
  margin-bottom: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px;
}

.container.full {
  min-height: 100vh;
}

.container.hero {
  height: 100vh;
  background-image: url('../assets/images/background.webp');
  background-position: center center;
  background-size: cover;
}

.container.merch {
  height: 100vh;
  background-color: #B40001;
  color: #121212;
}

.container.band {
  background-image: url('../assets/images/promo.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 0;
  position: relative;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-embed-container {
  margin-top: 20px;
  background-color: #000;
}

.video-embed-container h2 {
  text-align: center;
}

iframe {
  max-width: 100%;  
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.band-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 180px;
  margin-top: 20px;
  position: absolute;
  bottom: 150px;
}

.member {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.album-art-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 36px;
}

.album-art {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.single-art-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 36px;
}

.single-art {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.single-art:hover {
  transform: scale(1.05);
}

dt {
  font-family: 'UnifrakturCook';
  margin-top: 10px;
}

dd {
  margin-bottom: 10px;
}

.spotify-embed {
  width: 100%;
  max-width: 800px;
  height: 630px;
  margin-top: 20px;
  margin-bottom: 80px;
  border: none;
}

a {
  display: block;
  color: #E11313;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease-out;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.social a {
  display: inline-block;
  margin: 8px 0;
  padding: 8px 16px;
}

.align-center {
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 0.875em;
  }

  dd {
    margin-inline-start: 24px;
    margin-bottom: 16px
  }

  .container.band {
    max-height: 45vh;
  }

  .container {
    padding: 16px;
  }

  iframe {
    height: 50vh;
  }

  .band-members {
    gap: 0;
    bottom: 0;
  }

  .overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  }

  .single-art-container {
    padding: 0;
  }
}
